@using MusicManager.Enumerations.Sorting
@model IEnumerable<MusicManager.ViewModels.Artist.ArtistDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                Last Name&nbsp
                <a asp-action="Index" asp-route-id="SongAmount_asc"><i class="fa-sharp fa-solid fa-arrow-up"></i></a>
                &nbsp
                <a asp-action="Index" asp-route-id="SongAmount_desc"><i class="fa-sharp fa-solid fa-arrow-down"></i></a>
            </th>
            <th>
                Age&nbsp
                <a asp-action="Index" asp-route-id="SongAmount_asc"><i class="fa-sharp fa-solid fa-arrow-up"></i></a>
                &nbsp
                <a asp-action="Index" asp-route-id="SongAmount_desc"><i class="fa-sharp fa-solid fa-arrow-down"></i></a>
            </th> 
            <th>              
                Number of Songs&nbsp
                <a asp-action="Index" asp-route-id="SongAmount_asc"><i class="fa-sharp fa-solid fa-arrow-up"></i></a>
                &nbsp
                <a asp-action="Index" asp-route-id="SongAmount_desc"><i class="fa-sharp fa-solid fa-arrow-down"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.GetLastName()
            </td>
            <td>
                @item.GetAge()
            </td>
            <td>
                 @item.Songs.Count()
            </td>
            <td>
                <a asp-controller="Artists" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Artists"asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Artists"asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
