@model IEnumerable<MusicManager.ViewModels.Song.SongDto>
@{
    int id = Convert.ToInt32(ViewData["ParentId"]);

}
<table class="table text-white table-hover table-dark table-striped mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                &nbsp
                <a asp-action="Details" asp-route-id="@id" asp-route-orderBy="Name_asc" asp-fragment="songTable"><i class="fa-sharp fa-solid fa-arrow-up text-white"></i></a>
                &nbsp
                <a asp-action="Details" asp-route-id="@id" asp-route-orderBy="Name_desc" asp-fragment="songTable"><i class="fa-sharp fa-solid fa-arrow-down text-white"></i></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Writer)
                &nbsp
                <a asp-action="Details" asp-route-id="@id" asp-route-orderBy="Writer_asc" asp-fragment="songTable"><i class="fa-sharp fa-solid fa-arrow-up text-white"></i></a>
                &nbsp
                <a asp-action="Details" asp-route-id="@id" asp-route-orderBy="Writer_desc" asp-fragment="songTable"><i class="fa-sharp fa-solid fa-arrow-down text-white"></i></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillBoardRank)
                &nbsp
                <a asp-action="Details" asp-route-id="@id" asp-route-orderBy="BillboardRank_asc" asp-fragment="songTable"><i class="fa-sharp fa-solid fa-arrow-up text-white"></i></a>
                &nbsp
                <a asp-action="Details" asp-route-id="@id" asp-route-orderBy="BillboardRank_desc" asp-fragment="songTable"><i class="fa-sharp fa-solid fa-arrow-down text-white"></i></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
                &nbsp
                <a asp-action="Details" asp-route-id="@id" asp-route-orderBy="Length_asc" asp-fragment="songTable"><i class="fa-sharp fa-solid fa-arrow-up text-white"></i></a>
                &nbsp
                <a asp-action="Details" asp-route-id="@id" asp-route-orderBy="Length_desc" asp-fragment="songTable"><i class="fa-sharp fa-solid fa-arrow-down text-white"></i></a>
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr id="songTable" onclick="location.href='@Url.Action("Details", "Songs", new {id = item.Id})'" class="data-row">
            <td>
                  @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Writer)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillBoardRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
                <td class="text-end">
                    <a asp-controller="Songs" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-light">Edit</a>
                    <a asp-controller="Songs" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-light">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
