@model MusicManager.ViewModels.Song.SongDetailsDto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h1 class="justify-content-end ms-3 display-5">Are you sure you want to delete this?</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillBoardRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillBoardRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillBoardDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillBoardDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Writer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Writer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="m-2">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
         <a asp-action="Index" class="btn btn-outline-light">Songs</a>
    </form>
</div>
